/*Barra de navegação com abas*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 750px;
}

ul li {
    float: left;
    background: url(imagensFolder/imagens/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(imagensFolder/imagens/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover {
    color: #894a1f;
}

ul #atual {
    background: url(imagensFolder/imagens/aba-direita-atual.png) no-repeat right;     
}
ul #atual a {
    background: url(imagensFolder/imagens/aba-esquerda-atual.png) no-repeat top left;
}