body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
}
h2 {
    text-align: center;
}
table {
    width: 600px;
    border: 2px solid #efefef;
    border-collapse: collapse;
}

th {
    background-color: rgb(173, 173, 207);
}
th, tr, td {
    padding: 3%;
}
tr:hover {
    background-color: rgb(208, 208, 212);;
}
th {
    border-bottom: 1px solid #292929;
    border-top: #6d1313;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: left;
}
.numero {
    text-align: right;
}
.centerUnidade {
    text-align: center;
}