/******************************
Barra de navegação horizontal
*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
    float: left;
}
ul li {
    /* display: inline;recomendado utilizar float left para 
    evitar problemas de carregamento nos browsers.*/
    float: left;
}
ul a {
    padding: 0 2em;
    display: block;
    line-height: 2.2em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) repeat-y ;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a {
    color: #085662;
    background: #44cade;
}