/* .caixa {
    width: 400px;
    background: #dedede url(../arredondamento/imagens/topo2.png) no-repeat left top;
}
.caixa h2 {
    padding: 10px 20px 0px 20px;
}
.caixa p {
    background: url(../arredondamento/imagens/baixo2.png) no-repeat left bottom;
} */

.caixa {
    width: 400px;
    background: #dedede url(../arredondamento/imagens/fundo-arredondamento.png) repeat-y;
}
h2 {
    padding: 20px 10px 0 20px;
    background: url(../arredondamento/imagens/topo2.png) no-repeat top left;
}
.caixa p {
    padding: 0 20px;
}
.caixa .ultimo {
    padding-bottom: 20px;
    background: url(../arredondamento/imagens/baixo2.png) no-repeat bottom left;
}
